@import "tailwindcss";

/* custom styles */
body {
  background: radial-gradient(80% 60% at 50% 0%, #0b1220 0%, #0b1220 40%, #0e1628 100%) fixed;
  color: #e5e7eb; /* text-gray-200 */
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji","Segoe UI Emoji";
}
